.Note{
  
    padding:0px;
    height:100%;
    min-width: 225px !important;
    // min-height: 630px !important;
    width:auto;
    background-color: white;
    border: 1px solid #00b6bc;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;


    .NoteHeader
{
      
        height:50px;
        background-color: #00b6bc;
        color: white;
        display: flex;
        padding: 0px 25px;
        align-items: center;
        justify-content: space-between;
      

       
        h4{
            margin:5px 0px;
        }
   

        .NoteMenu{
            position: absolute;
            right:75px
        }
}

    .NoteContent{
       
       padding:25px;
       height: 100%;

       .preview{
           width: 100%!important;
           height: 50%!important;
       }

       .preview_video{
        width: 100%!important;
        height: 16rem!important;
    }
       .NoteText{
           height: fit-content;
           width:100%;
       }

       .tags{
           margin-top: 15px;
           span{
               border-radius: 5px;
               -webkit-border-radius: 5px;
               -moz-border-radius: 5px;
               -ms-border-radius: 5px;
               -o-border-radius: 5px;
               background-color: #fdf4fd;
               color:#7f7f7f;
               font-size: 10px;
               padding: 10px;
               margin: 6px 6px 6px 0px;
            }
       }
    }

    .NoteForm{
        width:100%;
        height:100%;
        display: grid;
        justify-content: center;
        align-items: center;


   form{
   
    padding:25px;
    margin-top:25px;
    background-color: #FCFCFC;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
 
    display: flex;
    flex-direction: column;
    .enterLineHolder{
      display: flex;
      input{
        margin-bottom: 0px;
       margin-right:10px;
       }
       button{
         margin-top:0px!important;
       }
    }
    input{
      margin-bottom: 25px;
    }
    label{
     margin-bottom: 5px;
    }
    .quill {height:150px}
    button[type='submit']{
       margin-top:70px;
    }
   }
    }
}