.App {

//   .react-grid-item{
//    // height:auto!important;
//   }

//   .react-grid-placeholder{
//    // height:auto!important;
//   }
 
// .react-resizable{
//  // height: auto!important;
// }

 .SectionForm{
  position: absolute;
  top:0;
  left:0;
   width:100%;
   height:100%;
   display: grid;
   justify-content: center;
   align-items: center;
   background-color: white;


 

   form{
   
   padding:25px;
   margin-top:25px;
   background-color: #FCFCFC;
   border: 1px solid #D9D9D9;
   border-radius: 5px;

   display: flex;
   flex-direction: column;
   .enterLineHolder{
     display: flex;
     input{
       margin-bottom: 0px;
      margin-right:10px;
      }
      button{
        margin-top:0px!important;
      }
   }
   input{
     margin-bottom: 25px;
   }
   label{
    margin-bottom: 5px;
   }
   .quill {height:150px}
   button[type='submit']{
      margin-top:70px;
   }
  }
 }
}
